.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,rgb(247, 247, 27),white);
    height: 100vh;
}

.app__body{
    height: 650px;
    width: 1400px;
}

.snapchat__image1{
    height: 30px;
    width: 30px;
    top: -50px;
    transform: translate(-35px,-25px);

}