.chatView{
    position: relative;
}

.chatView > img{
    cursor: pointer;
}

.chatView__timer{
    position: absolute;
    cursor: pointer;
    top: 192px;
    right: 620px;
    margin: 10px;
    transform: translate(575px,5px);
}